/* COLORS

rgb(2, 52, 154)
rgb(2, 138, 188)
rgb(13, 90, 168)
rgb(166, 220, 234)
rgb(153, 61, 217)
 */

:root {
  --blue: rgb(74, 93, 221);
}

body, html {
  height: 100%;
  font-family: Cabin, 'sans-serif';
}

h1, h2, h3 {
  font-family: Didact Gothic, 'sans-serif';
  padding-bottom: 0;
}

.flash {
  color: red;
  border: 1px solid red;
  padding: 0.5em;
}

.main-bg {
  background-color: rgb(27, 26, 27, 0.3) !important;
  background-image: url('https://eventify.sfo2.digitaloceanspaces.com/maryna-yazbeck-1389580-unsplash%20(1).jpg');
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  background-blend-mode: multiply;
  height: 100%;
}


.base-body {
  text-align: center;
}

.welcome {
  /* width: 20em;
  height: 20em;
  background-color: rgb(255, 255, 255, 0.92);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20em;
  padding: 3em;
  border: 4px solid black; */
}

.home-right {
  background-color: rgb(255, 255, 255);
  padding: 0;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.login-register {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  animation: fadein 1s ease;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}


#title {
  font: 700 6vw 'Cabin', sans-serif;
  position: relative;
  text-align: center;
  margin-top: 2.5em;
  margin-bottom: 2em;
  color: white;
  letter-spacing: -0.02em;
  /* text-shadow: 1px 1px 5px rgb(3, 9, 99); */
}

.login-spotify {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  width: 75%;
}

h4 {
  font-size: 1.2em;
}

a {
  color: #000;
}

.blue:hover {
  background-color: var(--blue);
  color: white;
  text-decoration: none;
  font-weight: 700;
}

h2 {
  font-weight: 700;
}

.btn {
  padding: .4rem .75rem;
}

.btn-primary {
  background-color: var(--blue);
  border-color: var(--blue);
}

.btn-primary:hover {
  background-color: #fff;
  color: var(--blue);
}

.btn-primary:active {
  transform: translateY(2px);
}

.btn-info {
  color: #000;
  background-color: #fff;
  border-color: #000;
}

.btn-info:hover {
  color: var(--blue);
  border-color: var(--blue);
  background-color: #fff;
}


.btn-info:active {
  color: var(--blue);
  border-color: var(--blue);
  background-color: #fff;
  transform: translateY(2px);
}

.btn-dark {
  color: #fff;
  background-color: #3e3e3e;
  border-color: #3e3e3e;
  margin: 0.2em;
}

.btn-dark:hover {
  color: #3e3e3e;
  background-color: #fff;
}

.btn-dark:active {
  transform: translateY(2px);
}

.form-control {
  width: 12em;
  height: calc(2rem);
  display: inline;
}

.form-control:focus {
  border-color: rgb(158, 90, 234);
  box-shadow: 0 0 0 0.2rem rgb(223, 198, 251);
}

.form-control-2 {
    display: inline;
    width: 12em;
    height: calc(2rem);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control-2:focus {
  border-color: rgb(158, 90, 234);
  box-shadow: 0 0 0 0.2rem rgb(231, 149, 65);
}


.container-fluid {
  padding: 0;
}

.col-6 {
  padding: 0;
}

.user-info {
  padding: 1em;
}

.user-img {
  border-radius: 50%;
  max-height: 10em;
  max-width: 10em;
  margin: 4em 2em 2em 2em;
}

#event-search-area {
  padding: 1em;
}

#blue-bg {
  background: linear-gradient(175deg, var(--blue) 270px,#fff 0);
}

#purple-bg {
  background: linear-gradient(175deg, rgb(158, 90, 234) 250px,#fff 0);
}

#orange-bg-wide {
  background: linear-gradient(184deg, rgb(240, 183, 124) 250px,#fff 0);
}

#yellow-bg {
  background: linear-gradient(105deg, rgb(255, 255, 171) 175px,#fff 0);
}

.artists-div {
  padding: 1em 0;
}

.artist-div {
  width: 6em;
  margin: 0.1em;
}

.small-artist-div {
  width: 4em;
  margin: 0em 0.4em;
}

.small-round-img {
  height: 4em;
  width: 4em;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: auto
}

.artist-img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  animation: fadein 2s ease;
}

.round-img {
  height: 5em;
  width: 5em;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
}

.rect-img {
  height: 15em;
  width: 33em;
  position: relative;
  overflow: hidden;
  margin: auto;
}

#event-results {
  min-width: 100%;
}

.event-div {
  width: 30%;
  margin: 1em;
  text-align: left;
  padding: 0;
}

.event-text {
  padding: 1em 0;
}

.event-img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

p {
  /* margin: 0!important; */
}

.text-white {
  color: white;
}

.text-underline {
  text-decoration: underline;
}

.py-2em {
  padding-top: 2em;
  padding-bottom: 2em!important;
}

.pt-2em {
  padding-top: 2em;
}

.pl-4em {
  padding-left: 4em;
}

.pl-2em {
  padding-left: 2em;
}

.pr-2em {
  padding-right: 1em;
}

.mr-bb {
  margin-right: 0.4em;
}

.small-mb {
  margin-bottom: 0.5em;
}

.pr-0 {
  padding-right: 0;
}

.width-6 {
  width: 6em;
}

.font-smaller {
  font-size: 0.8em;
}

.display-inline {
  display: inline;
}


#loading {
  border-top: 3px solid var(--blue);
  width: 3em;
  height: 0;
  animation: slide 3s linear infinite;
}

#loading2 {
  border-bottom: 3px solid white;
  width: 3em;
  height: 1;
  animation: slide 3s linear infinite;
  animation-direction: reverse;
}

#loading-icons {
  visibility: hidden;
}

@keyframes slide {
  0% {
    transform: translate(0px)
  }
  10% {
    transform: translate(25px);
  }
  25% {
    transform: translate(50px) ;
  }
  35% {
    transform: translate(25px) ;
  }
  50% {
    transform: translate(0px) ;
  }
  60% {
    transform: translate(-25px) ;
  }
  75% {
    transform: translate(-50px) ;
  }
  85% {
    transform: translate(-25px) ;
  }
  100% {
    transform: translate(0px) ;
  }
}
