{% extends 'base.html' %}

{% block title %} Search for events {% endblock%}

{% block content %}

<h2>Choose your city and distance</h2>
<form action="/event-results" method="POST">
  City:
    <input type="text" name="city">
    <br>
  Within:
    <select name="distance">
      <option value="5mi">5 miles</option>
      <option value="10mi">10 miles</option>
      <option value="25mi">25 miles</option>
      <option value="50mi">50 miles</option>
    </select>
  <input type="submit">
</form>


{% endblock %}
