{% extends 'user-area.html' %}

{% block title %} Explore | Eventify {% endblock%}

{% block content %}

<div class="container-fluid text-center px-6 ">

  <div class="row" id="blue-bg">
    <div class="col-3 py-2em pl-2em">
      {% for user in users %}
      <div>
        {% if user[2] %}
          <img src="{{ user[2] }}" alt="image for {{ user[0] }}" style="border-radius: 50%; height: 100px; width: 100px">
        {% else %}
          <img src="https://eventify.sfo2.digitaloceanspaces.com/blush.jpg" alt="Default display image" style="border-radius: 50%; height: 100px; width: 100x">
        {% endif %}
          <a href="{{ user[1] }}">{{ user[0] }}</a>
    </div>
    </div>

    <div class="col-9 py-2em">
      <h1>What everyone's listening to...</h1>
        <div class="artists-div d-flex flex-wrap justify-content-center">
        {% for artist in artists[user[0]] %}
          <div class="small-round-img">
            <img class="artist-img" src="{{ artist[2] }}" alt="Spotify profile image of {{ artist[0] }}">
          </div>
          <span><a href="{{ artist[1] }}" target="_blank">{{ artist[0] }}</a></span>
        {% endfor %}
      </div>


    </div>
  </div>
</div>




  </div>
  <hr>

  {% endfor %}

{% endblock %}
