{% extends 'user-area.html' %}

{% block title %} Explore | Eventify {% endblock%}

{% block content %}

  <h1>What everyone's listening to...</h1>

  {% for user in users %}
  <div>
    {% if user[2] %}
      <img src="{{ user[2] }}" alt="image for {{ user[0] }}" style="border-radius: 50%; height: 100px; width: 100px">
    {% else %}
      <img src="https://eventify.sfo2.digitaloceanspaces.com/blush.jpg" alt="Default display image" style="border-radius: 50%; height: 100px; width: 100x">
    {% endif %}
      <a href="{{ user[1] }}">{{ user[0] }}</a>
    {% for artist in artists[user[0]] %}

    <div style="display: inline-block; padding: 0.1em;">
      <div style="height: 50px; width: 50px; position: relative; overflow: hidden; border-radius: 50%;  margin: auto">
        <img src="{{ artist[2] }}" style="object-fit: cover; width: 100%; height: 100%" alt="Spotify profile image of {{ artist[0] }}">
      </div>
      <br>
      <span><a href="{{ artist[1] }}" target="_blank">{{ artist[0] }}</a></span>
    </div>
    {% endfor %}
  </div>
  <hr>

  {% endfor %}

{% endblock %}
