{% extends 'user-area.html' %}

{% block title %} Search Events with Spotify | Eventify {% endblock%}

{% block content %}
<div class="container-fluid text-center px-6 ">
  <div class="row" id="blue-bg">

    <div class="col-3 py-2em pl-4em">
      <div class="user-info">
        {% if user['images'] %}
          <img class="user-img" src="{{ user['images'][0]['url'] }}" alt="image for user['display_name']">
        {% else %}
          <img class="user-img" src="https://eventify.sfo2.digitaloceanspaces.com/blush.jpg" alt="Default display image">
        {% endif %}
        <h2>
          Hey, <a class="blue" href="{{ user['external_urls']['spotify'] }}" target="_blank">{{ user['display_name']}}</a>!
        </h2>
      </div>

    </div>

    <div class="col-9 py-2em">
      <div class="text-white">
        <h1 class="text-underline"><b>Your Heavy Rotation<b></h1>
        <h5>Your top 40 Spotify artists in the last 6 months</h5>
      </div>

        <!-- unpack artist data -->
        <div class="artists-div d-flex flex-wrap justify-content-center pt-2em">
          {% for index, artist, url, img, id in artists %}
          <div class="artist-div">
            <div class="round-img">
              <img class="artist-img" src="{{ img }}" alt="Spotify profile image of {{ artist }}">
            </div>
            <span>{{ index }}.</span>
            <span> <a class="blue" href="{{ url}}" target="_blank">{{ artist }}</a></span>
          </div>
          {% endfor %}
        </div>

    </div>
  </div>
</div>

<div class="container-fluid text-center px-6 py-2em" id="orange-bg-wide" name="search">

  <div id="event-search-area">
    <div class="row">
      <div class="col-4 pl-2em">
        <h1 class="text-white text-underline"><b>Search for events</b></h1>
      </div>
      <div class="col-8 text-left pl-2em">
        <div id="search-area">
          <!-- <h3>Choose your city and distance</h3> -->
          <form id="event-search">
            <div class="form-group display-inline">
              <h4 class="display-inline">I'm looking for shows in... </h4>
              <input class="form-control-2 mx-2" type="text" name="city" id="city" placeholder="Enter a city name" required>
            </div>
            <div class="form-group display-inline">
              Within:
                <select class="form-control width-6 mx-1" name="distance" id="distance">
                  <option value="5mi">5 miles</option>
                  <option value="10mi">10 miles</option>
                  <option value="25mi">25 miles</option>
                  <option value="50mi">50 miles</option>
                </select>
                <input type="submit" class="btn btn-primary my-2 mx-2">
                <a href="#search" id="search-again" class="btn btn-primary my-2 mx-2" style="display: none">Try another search</a>
                <br>
                <input type="checkbox" id="recommended-evts" name="recommended" value="show-recommended"> Show me recommended events
            </div>
          </form>

          <div id="loading-icons" class="text-center">
            <p class="pt-3">Loading events...</p>
            <div id="loading" class="mx-auto"></div>
            <div id="loading2" class="mx-auto"></div>
          </div>
        </div>
        </div>

        <!-- <div id="search-area2">
          <h4>Would you like to search for recommended events?</h4>
          <form id="recommended-events">
            City:
              <input type="text" name="city" id="city" value="San Francisco">
            Within:
              <select name="distance" id="distance">
                <option value="5mi">5 miles</option>
                <option value="10mi">10 miles</option>
                <option value="25mi">25 miles</option>
                <option selected value="50mi">50 miles</option>
              </select>
            <input type="submit" class="btn btn-primary my-2">
          </form>
        </div> -->


        </div>

      </div>
    </div>



      <div id="event-header" class="text-center"></div>
      <div id="event-results" class="d-inline-flex flex-wrap justify-content-center">
        <div id="none-found" style="display:none">
          <h4>Sorry, no events in that city were found 😥 Try another search?</h4>
        </div>
      </div>

  </div>



{% endblock %}
